.personal-chat{

    .input-form{
        padding: 18px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        position: relative;
       input{
        outline: 0;
        border: 2px solid #cac8ce;
        height: 50px;
        // max-width: 270px;
        // width: 100%;
        width: 100%;
        padding: 0 10px;
        padding-right: 80px;
        border-radius: 5px;
        // border-right: 0;
        background-color: #eff3fe;
        transition: 0.2s all ease-in-out;
        &:focus-within .msgSend{
            color:#fff !important;
        }
        // width: max-content;
       }::-webkit-input-placeholder{
        color: #cac8ce;
       }
       input:focus-within{
        color: rgba(107,26,255,255);
        border: 2px solid rgba(107,26,255,1);
       }
       
       button{
        //    background-color: #292729;
        background-color: rgba(107,26,255,1);
        //    color: #f1f1f1;
        position: absolute;
        color: #d5bfff;
           padding: 15px;
           outline: 0;
           border: 0;
           height: 35px;
           display: flex;
           justify-content: center;
           align-items: center;
           right: 30px;
           cursor: pointer;
           border-radius: 5px;
           transition: 0.3s all ease-in-out;
           i{
            font-size: 20px;
            transform: rotate(-45deg);
           }
       }
       button:hover{
        color: #fff !important;
        background-color: rgba(128,26,255,255);
       }
    }

}